/* //////////////////LANDING PAGE//////////////////// */


/* Custom default button */
/* .btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333; */
  /* text-shadow: none; */
  /* Prevent inheritance from `body` */
/* } */


/*
 * Base structure
 */

/* body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
} */

/* .cover-container {
  max-width: 42em;
} */


/*
 * Header
 */

/* .nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
} */

/* ////////////////LANDING PAGE////////////////////// */






body {
  font-family: sans-serif;
  background-color: #edede9;
  background-color: black;
}

/* a {
  text-decoration: none;
  color: #edede9;
}
a:hover {
  color: #e28413;
  transition: color 0.5s ease;
}
h1 {
  display: flex;
  justify-content: center;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
} */

img {
  border-radius: 3px;
}

form div {
  margin: 1em;
  display: inline-block;
}

span {
  font-size: 20px;
  font-weight: 1000;
} */

/* ////////NAVBAR////////////// */
/* .navBar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 75px;
}
.navBarMenu {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
} */
/* ////////NAVBAR///////////// */

/* AllProductsView features */
/* .displayAll {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

.singleItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  background-color: #edede9;
  border-radius: 25px;
  height: 250px;
  width: 250px;
  opacity: 0.9;
}
.singleItem:hover {
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.price {
  margin-left: 7px;
}
.allProButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.emotionImages img {
  border-radius: 3px;
  margin-top: 10px;
  height: 100px;
  width: 100%;
} */

/* SingleView features */
.singleHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 25px;
}

.cartLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 550px;
}
.fontSize {
  display: flex;
  font-size: 36px;
  justify-content: center;
}
.item {
  display: flex;
  justify-content: center;
}

.itemDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  padding: 25px;
  background-color: darkgray;
  border-radius: 5px;
  height: 350px;
  width: 550px;
}
.empathy {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  font-size: larger;
}

.singleImg {
  display: flex;
  justify-content: center;
}
.description {
  margin-bottom: 10px;
}

/*////////////// The Modal (background) /////////////////*/
#loginSignup {
  border: none;
  background-color: #fefefe;
  padding: 0px;
  margin: 16px;
  color: slategrey;
  font-size: 16px;
  font-family: sans-serif;
}
#loginSignup:hover {
  color: black;
  cursor: pointer;
}



/* /////////FLICKITY////////////// */
.flickity-prev-next-button {
  display: none;
}

.carousel-cell {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* /////////Flickity////////////// */
/* ////////HOME PAGE///////////// */
img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.landing {
  position: absolute;
  background-image: url(landingPhoto.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 96.1%;
  z-index: -2;
  color: white;
}

.order-session {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.order-session-title {
  display: flex;
  justify-content: space-between;
}

.order-session-title > h2 {
  width: 30%;
  text-align: center;
}

.order-session-product {
  display: flex;
  align-items: center;
  margin: 5px;
  justify-content: space-between;
}

.order-session-product > div {
  width: 15%;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
}

.order-session-product svg {
  transform: scale(2.5);
}

.order-session img {
  width: 10vw;
  margin: 5px;
}

.session-total {
  text-align: center;
  font-size: 22px;
}

.checkout {
  position: absolute;
  width: 80%;
}

@media screen and (max-width: 960px) {
  a {
    text-decoration: none;
    color: #d2e5f5;
  }
  a:hover {
    color: #e28413;
    transition: color 0.5s ease;
  }
}
